{% extends 'base.html' %}

{% block content %}
<h2>Subject Information</h2>

<table class="data-table">
    <thead>
        <tr>
            <th>Subject ID</th>
            <th>Subject Name</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody>
        {% for subject in subjects %}
        <tr>
            <td>{{ subject['SubjectID'] }}</td>
            <td>{{ subject['SubjectName'] }}</td>
            <td>{{ subject['Course'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
